<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>okbrain</title>

	<style type="text/css">

		body {
			text-align: center;
		}

	</style>

</head>
<body>
	@RenderBody()
</body>
</html>
