<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">okbrain</a>
        </div>
        <nav class="collapse navbar-collapse" id="bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/start">Start here</a>
                </li>
                 <li>
                    <a href="/blog">Blog</a>
                </li>
                <li>
                    <a href="/about">About okbrain</a>
                </li>
                <li class="dropdown open">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/blog/posts/new">New Post</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
