@using okbrain.Models
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Shared/_Layout.cshtml";
}

@section style {
    <link href="~/Content/blog.css" rel="stylesheet" />
}

@Html.Partial("Shared/_Navigation.cshtml")

<div class="breather"></div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-responsive table-striped table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (PostDto post in Model)
                    {
                        <tr>
                            <td><a href="~/admin/posts/edit/id/@post.Id">@post.Title</a></td>
                            <td>@post.Status</td>
                            <td><a href="#" class="btn btn-warning" data-bind='click:function () { deletePost("@post.Id") };'>X</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section javascript{
    
    <script src="/Content/assets/js/libs/knockout-3.2.0.js"></script>
    <script type="text/javascript">

        var ViewModel = function () {
            var self = this;

            self.deletePost = function(id) {
                $.post("/admin/posts/delete", { id: id }, function (result) {
                    location.reload();
                });
            };
        };

        ko.applyBindings(new ViewModel());

    </script>
    }