@using okbrain.Extensions
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Shared/_Layout.cshtml";
}

@section style {
    <link href="~/Content/blog.css" rel="stylesheet" />
}

@Html.Partial("Shared/_Navigation.cshtml")

<div class="breather"></div>

<div class="container-fluid">
    <form class="" action="./new" method="POST">
    <div class="row">
        <div class="col-sm-12">
            <div class="well well-sm form-group form-inline">
                <input type="submit" class="btn btn-primary" value="Save"/>
                <input type="button" class="btn btn-warning" value="Publish"/>
                <input type="button" class="btn btn-warning" value="Withdraw"/>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="well well-sm">
                
                    <fieldset>
                    

                        <!-- Text input-->
                        <div class="form-group">
                            <div class="col-md-12">
                                <input id="title" name="title" type="text" placeholder="Title" class="form-control input-lg" required="" data-bind="textinput: title">
                            </div>
                        </div>

                        <!-- Textarea -->
                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea class="form-control input-lg" id="body" name="body" cols="30" rows="30" data-bind="textinput: body"></textarea>
                            </div>
                        </div>

                        <!-- Select Basic -->
                        <div class="form-group">
                            <label class="col-md-12 control-label" for="category">Category</label>
                            <div class="col-md-12">
                                <select id="category" name="category" class="form-control">
                                    <option value="1">Option one</option>
                                    <option value="2">Option two</option>
                                </select>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <div class="col-md-12">
                                <strong><span class="col-md-12 control-label">Keywords</span></strong>
                                <div class="col-md-12">
                                    @foreach (string tag in Model.Tags)
                                    {
                                        <span class="label label-info">@tag</span>    
                                    }
                                    
                                </div>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-12 control-label" for="pubDate">Publish Date</label>
                            <div class="col-md-12">
                                <input id="pubDate" name="pubDate" type="text" placeholder="" class="form-control input-lg" data-bind="textinput: pubDate">
                            </div>
                        </div>

                        <!-- Select Basic -->
                        <div class="form-group">
                            <label class="col-md-12 control-label" for="status">Status</label>
                            <div class="col-md-12">
                                <select id="status" name="status" class="form-control" data-bind="options: stati, value: status">
                                </select>
                            </div>
                        </div>
                        <div class="breather">&nbsp;</div>
                        <div class="form-group form-inline">
                            <input type="submit" class="btn btn-primary" value="Save"/>
                            <input type="submit" class="btn btn-default" value="Cancel"/>
                        </div>
                    </fieldset>
                </form>

            </div>

        </div>
        <!-- /.blog-main -->
        
        <div class="col-sm-6" data-bind="html: post">
            
        </div>


    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<div class="blog-footer">
    <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@@mdo</a>.</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</div>

@section javascript{
    <script src="/Content/assets/js/libs/knockout-3.2.0.js"></script>
    <script src="/Content/assets/js/libs/Markdown.Converter.js"></script>
    <script src="/Content/assets/js/libs/moment-2.8.2.js"></script>
    
    <script type="text/javascript">

        var ViewModel = function(post) {
            var self = this;

            self.title = ko.observable(post.title || '');
            self.body = ko.observable(post.body || '');
            self.stati = ['Live', 'Draft', 'Ready'];
            self.status = ko.observable(post.status || 'Draft');

            var pubDate = moment();
            if (post.date) {
                pubDate = moment(post.pubDate);
            }

            self.pubDate = ko.observable(pubDate.format("DD/MM/YYYY"));

            self.post = ko.computed(function() {
                var converter = new Markdown.Converter();
                var html = converter.makeHtml(self.body());
                return "<h1 class='title'>" + self.title() + "</h1>" + html;
            });
        };

        var vb = @Html.Raw(ViewBag.JavaScript)

        var vm = new ViewModel(vb);
        ko.applyBindings(vm);
    </script>
}