
@{
    Layout = "Shared/_Layout.cshtml";
}

@section style {
<link href="~/Content/blog.css" rel="stylesheet"/>
}

@Html.Partial("Shared/_Navigation.cshtml")

<div class="breather"></div>
<div class="container">

@*      <div class="blog-header">
        <h1 class="blog-title">The Bootstrap Blog</h1>
        <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
      </div>*@

      <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post" data-bind="foreach: posts">
                
                <h2 class="blog-post-title"><a href="#" data-bind="text: title, attr: { href: url, title: title }"></a></h2>
                <p class="blog-post-meta"><span data-bind="text: moment(date).format('D MMMM, YYYY')"></span> by <a href="#">Daniel Whittaker</a></p>
              
                <div data-bind="html: teaser"></div>
                <a href="" class="pull-right" data-bind="attr: { href: url, title: title }">Continue reading ...</a>
                <hr class="post-divider"/>
            </div><!-- /.blog-post -->

           

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    


@section javascript{
    <script src="/Content/assets/js/libs/knockout-3.2.0.js"></script>
    <script src="/Content/assets/js/libs/Markdown.Converter.js"></script>
    <script src="/Content/assets/js/libs/moment-2.8.2.js"></script>
    
    <script type="text/javascript">

        var ViewModel = function(posts) {
            var self = this;

            var allPosts = [];
            for (i = 0; i < posts.length; i++) {
                posts[i].url = "/blog/" + posts[i].slug;
                allPosts.push(posts[i]);
            }
            
            self.posts = ko.observableArray(allPosts);
        };

        var vb = @Html.Raw(ViewBag.JavaScript)

        var vm = new ViewModel(vb);
        ko.applyBindings(vm);
        
    </script>
}