@{
    Layout = "Shared/_Layout.cshtml";
}

<div class="welcome">
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1><strong>okbrain:</strong> step by step formulas to improve your memory</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">


            <div id="subscribearea"> 
                <div class="wrap">
                    <div id="subscribeareabox">
                        <div id="subscribeareaboxinside">
                            <div class="title">Want to improve your memory? I'll show you how:</div><br>
                                                                                                    <div class="clearthis">
                                                                                                        <script type="text/javascript" src="//www1.moon-ray.com/v2.4/include/formEditor/genjs-v2.php?html=false&amp;uid=p2c12733f36"></script>
                                                                                                        <form class="form-inline" >
                                                                                                            <div class="form-group">
                                                                                                                <input name="email" type="email" class="input-lg" placeholder="enter your email address" id="mr-field-element-399069958133">

                                                                                                            </div>
                                                                                                            <div class="form-group">
                                                                                                                <input type="submit" name="submit-button" value="Start" class="btn btn-primary btn-lg" id="mr-field-element-249453830765">
                                                                                                            </div>

                                                                                                        </form>
	
                                                                                                    </div>
                        </div>

                    </div>
                </div>
            </div>




            
        </div>
    </div>
</div>

<div class="container" id="read-blog-section">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <a href="#" class="btn btn-primary btn-lg btn-blog center-block">READ THE BLOG</a>
            
        </div>
    </div>
</div>




