@{
    Layout = "Shared/_Layout.cshtml";
}

@section style {
<link href="~/Content/okbrain.css" rel="stylesheet"/>
}

<div class="welcome">
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1><strong>okbrain:</strong> step by step formulas to improve your memory</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">


            <div id="subscribearea"> 
                <div class="wrap">
                    <div id="subscribeareabox">
                        <div id="subscribeareaboxinside">
                            <div class="title">
                                Want to improve your memory? I'll show you how:
                            </div><br>
                            <div class="clearfix">
                                
                                <form class="form-inline" method="POST" action="/" name="subscribe">
                                    
                                    <div class="input-group">
                                        <input class="btn btn-lg input-email" name="email" id="email" type="email" placeholder="Your Email" required>
                                        <button class="btn btn-info btn-lg" type="submit">Start</button>
                                    </div>
                                    <div class="real-test">
                                        <input class="real-test-input" name="real" id="real" type="text" placeholder="If you are human, leave blank">
                                    </div>
                                </form>
                                <small class="promise"><em>We promise, no spam and you can always unsubscribe!</em></small>
	
                            </div>
                        </div>

                    </div>
                </div>
            </div>




            
        </div>
    </div>
</div>

<div class="container" id="read-blog-section">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <a href="~/blog" class="btn btn-primary btn-lg btn-blog center-block">READ THE BLOG</a>
            
        </div>
    </div>
</div>

<div class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@@codescribler</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </div>

@section javascript{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js"></script>
    
    <script>

        var ViewModel = function() {

        };

    </script>
}